<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" routerLink="/home">PCY Webshop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Termékek
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Rólunk
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                <form class="d-flex" role="search">
                    <input class="form-control " type="search" placeholder="Search" aria-label="Search"
                        style="width: 100%">
                    <button class="btn btn-outline-warning ms-1" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                </form> 
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngIf="!authService.isLoggedIn">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Bejelentkezés
                    </a>
                </li>
                <li class="nav-item me-2" *ngIf="!authService.isLoggedIn">
                    <a class="nav-link" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Regisztráció
                    </a>
                </li>
                <li class="nav-item dropdown" *ngIf="authService.isLoggedIn">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Profil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/profile">Adatlapom</a></li>
                        <li><a *ngIf="!authService.isAdmin" class="dropdown-item" routerLink="/orders">Rendeléseim</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/home" *ngIf="authService.isLoggedIn"
                                (click)="onLogout()">Kijelentkezés</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  *ngIf="!authService.isAdmin && authService.isLoggedIn"  routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Kosár
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>