<div class="container px-5 py-5">
    <div class="row">
        <div class="col-sm">
            <h1>Rólunk</h1>
            <p>
                Üdvözlünk a PC Webshopon! Cégünk azért jött létre, hogy megkönnyítsük
                számodra a számítástechnikai termékek beszerzését és segítsünk
                megtalálni az igényeidnek és költségvetésednek legmegfelelőbb
                megoldást.
            </p>
            <p>
                Széles választékunkban megtalálhatod a legfrissebb asztali és
                laptop számítógépeket, monitorokat, perifériákat, alkatrészeket és
                egyéb kiegészítőket. Minőségi termékeket kínálunk a legjobb áron,
                hogy biztosítsuk, hogy minden vásárlónk elégedett legyen.
            </p>
            <p>
                Ha bármilyen kérdésed van a termékeinkkel vagy a rendelés folyamatával
                kapcsolatban, ne habozz felvenni velünk a kapcsolatot. Szívesen segítünk
                és válaszolunk minden kérdésedre.
            </p>
            <p>Köszönjük, hogy minket választottál!</p>

            <p class="eminem">Fejlesztőink: Paulusz Zsombor és Bodnár Bence</p>
            <p class="eminem">Az oldal github linkje: <a href="https://github.com/egonixaimgod/Vizsgaremek_2024_bbence_pzsombor" target="_blank">https://github.com/egonixaimgod/Vizsgaremek_2024_bbence_pzsombor</a></p>
        </div>
        <div class="col-sm"><img src="assets/images/about.png" class="rounded" style="width: 100%; height: 100%;"></div>