<div class="container px-5 py-2">
    
    <div class="row">
        <div class="col-md-auto py-2" *ngFor="let item of cartItems">
            <div class="card" style="width: 18rem; height: 28rem;">
                <img [src]="generateImagePath(item.name)" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">Ár: {{item.cost}} Ft<br>
                        Példányszám: {{item.amount}}</p>
                        <button class="btn btn-danger" (click)="removeFromCart(item)">Törlés</button> <!-- Új gomb -->
                
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pb-5 px-5">
    <div class="row">
        <div class="col">
            <h1>Összesen: {{totalPrice}} Ft </h1>
        </div>
        <div class="col" style="text-align: right;">
            <a href=" #" class="btn btn-warning btn-lg">Tovább!</a>
        </div>
    </div>
</div>