<div class="container px-5 py-5">
    <h1>Termékek</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Kategória Id</th>
                <th scope="col">Brand Id</th>
                <th scope="col">Név</th>
                <th scope="col">Ár</th>
                <th scope="col">Példányszám</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.category_id }}</td>
                <td>{{ product.brand_id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.cost }}</td>
                <td>{{ product.amount }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container px-5">
    <div class="row">
        <div class="col-md-4 pb-5" *ngFor="let product of products, let i = index">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">{{product.name}}</h2>
                    <h5 class="card-text">Példányszám: {{product.amount}} <br> Ár: {{product.cost}} Ft
                    </h5>
                </div>
                <img [src]="generateImagePath(product.name)" class="card-img-bottom" alt="AMD Ryzen 5 5600X" style="">
                <div class="card-footer">
                    <a class="btn btn-warning" (click)="onAddToCart(product)" routerLink="/cart">Rendeld meg!</a>
                </div>
            </div>
        </div>