<div style="padding-top: 3rem; padding-bottom: 3rem; padding-left: 40rem; padding-right: 40rem;">
    <h1>Regisztráció</h1>
    <div class="py-2">
        <label for="exampleInputEmail1" class="form-label">Név</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="py-2">
        <label for="exampleInputEmail1" class="form-label">Email cím</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="py-2">
        <label for="exampleInputEmail1" class="form-label">Jelszó</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="py-2">
        <label for="exampleInputEmail1" class="form-label">Jelszó újra</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="py-2">
        <label for="exampleInputEmail1" class="form-label">Cím</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="py-2">
        <label for="exampleInputEmail1" class="form-label">Megye</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="py-2">
        <label for="exampleInputEmail1" class="form-label">Város</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="py-2">
        <label for="exampleInputEmail1" class="form-label">Irányítószám</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="py-2">
        <label for="exampleInputEmail1" class="form-label">Telcsi</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div style="text-align: right;">
    <button type="submit" class="btn btn-warning">Tovább</button>
    </div>
</div>