<div class="container pt-5 px-5">
<div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Profilom:</h5>
      <p class="card-text">Név: {{ authservice.userData.data.name }}</p>
      <p class="card-text">Email: {{ authservice.userData.data.email }}</p>
      <p class="card-text">Cím: {{ authservice.userData.data.address }}</p>
      <p class="card-text">Város: {{ authservice.userData.data.city }}</p>
      <p class="card-text">Irányítószám: {{ authservice.userData.data.postal_code }}</p>
      <p class="card-text">Telefonszám: {{ authservice.userData.data.phone }}</p>
    </div>
  </div>
</div>