<div class="container px-5">
    <div class="row align-items-center py-5">
        <!--carousel!-->
        <div class="col-lg">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 100%">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner rounded">
                    <div class="carousel-item active">
                        <img src="assets/images/slider1.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/slider2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/slider3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!--carousel!-->
        <div class="col-lg">
            <h1 class="font-weight-light">PCY Webshop</h1>
            <p>Üdvözlünk a PC Webshopon! Cégünk azért jött létre, hogy megkönnyítsük
                számodra a számítástechnikai termékek beszerzését és segítsünk
                megtalálni az igényeidnek és költségvetésednek legmegfelelőbb
                megoldást.</p>
            <a class="btn btn-warning" routerLink="/about">Rólunk</a>
        </div>
    </div>
    <div class="asd">HAVI TOP TERMÉKEK</div>

    <!--2. resz!-->
    <div class="container px-5 py-5">
        <div *ngIf="products" class="row">
            <div class="col" *ngFor="let product of products.slice(0,3), let i = index">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">{{product.name}}</h2>
                        <h5 class="card-text">Ár: {{product.cost}} Ft
                        </h5>
                    </div>
                    <img [src]="(product.img)" class="card-img-bottom" alt="AMD Ryzen 5 5600X"
                        style="">
                    <div class="card-footer">
                        <a class="btn btn-warning" (click)="onAddToCart(product)" routerLink="/cart">Rendeld meg!</a>
                    </div>
                </div>
            </div>