<div class="container pt-5 px-5">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Rendelések</h5>
      <ul *ngFor="let order of orders$ | async">
        <li class="list-group-item">
          <p class="mb-1">Azonosító: {{ order.azonosito }}</p>
          <p class="mb-1">Rendelés dátuma: {{ order.order_date }}</p>
          <p class="mb-1">Felhasználó azonosítója: {{ order.user_id }}</p>
          </li>
      </ul>
    </div>
  </div>

  <ng-template #noOrders>
    <p>Nincsenek rendelések.</p>
  </ng-template>
</div>
