<!-- myorders.component.html -->

<div class="container pt-5 px-5">
  <ng-container *ngIf="orders1.length > 0; else noOrders">
    <!-- orders1 tömb elemeinek megjelenítése -->
    <div *ngFor="let order of orders1" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rendelés: {{ order.azonosito }}</h5>
        <p class="card-text">Felhasználó azonosítója: {{ order.user_id }}</p> 
        <p class="card-text">Fizetési azonosító: {{ order.payment_id }}</p> 
        <p class="card-text">Rendelés dátuma: {{ order.order_date }}</p>
        <p class="card-text">Rendelés azonosítója: {{ order.id }}</p>
        <ng-container *ngIf="orders2[order.id] && orders2[order.id].length > 0">
          <!-- orders2 tömb elemeinek megjelenítése az adott rendeléshez -->
          <div *ngFor="let orderItem of orders2[order.id]" class="mt-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Termék azonosítója: {{ orderItem.product_id }}</h5>
                <p class="card-text">Mennyiség: {{ orderItem.amount }}</p> 
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!orders2[order.id] || orders2[order.id].length === 0">
          <p class="mt-3">Nincsenek termékek ehhez a rendeléshez.</p>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-template #noOrders>
    <p>Nincsenek rendelések.</p>
  </ng-template>
</div>
